.titlebar-buttonbox-container {
  display: none;
}

#back-button,
#forward-button,
#reload-button,
#stop-button {
  display: none !important;
}

#nav-bar {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  top: -100% !important;
}

#nav-bar:focus-within {
  top: 0% !important;
}
