window#waybar {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 12pt;
  background-color: alpha(@bg, 0.8);
  border-bottom: 1px solid alpha(darker(@bright-bg), 0.8);
  color: @fg;
}

#sys-info {
  font-size: 13.5pt;
  margin-right: 6pt;
  min-width: 12pt;
}

#clock {
  padding: 0pt 10pt 0 10pt;
}

#bluetooth {
  padding: 0 5pt 0 6pt;
}

#tray {
  padding: 0 3pt 0 0;
}

#custom-expand-icon {
  padding-right: 6pt;
}

#custom-separator {
  font-family: sans-serif;
  color: alpha(@bright-bg, 0.8);
}

#custom-power {
  color: @red;
  font-size: 15pt;
  padding: 0.5px 5pt 0 5pt;
}

#network {
  padding: 0 6pt 0 8pt;
}

#pulseaudio {
  font-size: 15.5pt;
  margin: 0.5px 5pt 0 8pt;
}

#battery {
  padding: 0 10pt 0 4pt;
}

#battery span.icon {
  font-size: 13.5pt;
}

#battery.low {
  color: @yellow;
}

#battery.critical {
  color: @red;
  font-weight: bold;
}

#window {
  margin: 0 0 0 10pt;
  /* color: darker(@fg); */
}

#tags {
  margin-left: 2pt;
  margin-right: 2pt;
}

#tags button {
  font-size: 13.5pt;
  color: alpha(@bright-bg, 0.5);
  padding: 0 8pt;
  min-width: 16pt;
  background: transparent;
  border: none;
  box-shadow: none;
}

#tags button:hover {
  background-color: transparent;
  color: @bright-bg;
}

#tags button.occupied {
  color: @bright-bg;
}

#tags button.focused {
  color: @fg;
}

#tags button.urgent {
  color: @red;
}

#tags button:nth-child(1) {
  font-size: 14pt;
}
#tags button:nth-child(3) {
  font-size: 14pt;
}
#tags button:nth-child(4) {
  font-size: 15pt;
}
#tags button:nth-child(5) {
  font-size: 16.5pt;
}

#tags button:nth-child(7),
#tags button:nth-child(8),
#tags button:nth-child(9) {
  color: transparent;
  margin: 0;
  padding: 0;
  font-size: 0;
  min-width: 0;
  transition: none;
  animation: none;
  box-shadow: none;
  text-shadow: none;
}

#tags button:nth-child(7).occupied,
#tags button:nth-child(8).occupied,
#tags button:nth-child(9).occupied {
  color: @bright-bg;
  font-size: 13.5pt;
  padding: 0 8pt;
  min-width: 16pt;
  background: transparent;
  border: none;
  box-shadow: none;
}

#tags button:nth-child(7).focused,
#tags button:nth-child(8).focused,
#tags button:nth-child(9).focused {
  color: @fg;
  font-size: 13.5pt;
  padding: 0 8pt;
  min-width: 16pt;
  background: transparent;
  border: none;
  box-shadow: none;
}
