window#waybar {
  font-family: sans-serif, "JetBrainsMono Nerd Font Propo";
  font-size: 12pt;
  background-color: alpha(@bg, 0.8);
  border-bottom: 1px solid alpha(darker(@bright-bg), 0.8);
  color: @fg;
}

#sys-info {
  font-size: 13.5pt;
  margin-right: 6pt;
  min-width: 12pt;
}

#clock {
  padding: 0pt 10pt 0 10pt;
}

#bluetooth {
  padding: 0 5pt 0 6pt;
}

#tray {
  padding: 0 3pt 0 0;
}

#custom-expand-icon {
  padding-right: 6pt;
}

#custom-separator {
  color: alpha(@bright-bg, 0.8);
}

#custom-power {
  color: @red;
  font-size: 15pt;
  padding: 0.5px 5pt 0 5pt;
}

#network {
  padding: 0 6pt 0 8pt;
}

#pulseaudio {
  font-size: 15.5pt;
  margin: 0.5px 5pt 0 8pt;
}

#battery {
  padding: 0 8pt 0 4pt;
}

#battery span.icon {
  font-size: 13.5pt;
}

#battery.low {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#window {
  margin: 0 0 0 6pt;
  /* color: darker(@fg); */
}

#workspaces {
  margin-left: 2pt;
  margin-right: 2pt;
}

#workspaces button {
  font-size: 13.5pt;
  color: @bright-bg;
  padding: 0 7pt;
  min-width: 14pt;
}

#workspaces button.hover {
  background-color: transparent;
  color: darker(@fg);
}

/* Workspace specific rules */
#workspaces button:nth-child(1) {
  padding-right: 5pt;
}

#workspaces button:nth-child(2) {
  font-size: 15pt;
}

#workspaces button:nth-child(6) {
  font-size: 16pt;
}

#workspaces button.empty {
  color: darker(@bright-bg);
}

#workspaces button.active {
  color: @fg;
}
