* {
    font: "Inter, MonaspiceNe Nerd Font Propo 13";
    black: #1d2021ff;
    grey: #56595aff;
    white: #d4be98ff;
    green: #a9b665cc;
    cyan: #89b482ff;
    bg: #1d2021cc;
    spacing: 10px;
    padding: 5px;
}

configuration {
    display-drun: "󰍉";
    display-emoji: "󰞅";
}

window {
    transparency: "real";
    width: 800px;
    background-color: @black;
    border: 1px solid;
    border-color: #32332f;
    border-radius: 7px;
}

mainbox {
    spacing: @spacing;
    padding: @padding;
    children: ["inputbar", "listview", "message"];
}

inputbar {
    children: ["prompt", "entry"];
    border-radius: 5px;
    background-color: #32332f80;
    padding: 5px;
}

prompt {
    text-color: @white;
}

entry {
    text-color: @white;
    placeholder: "Type to search…";
    placeholder-color: @grey;
}

listview {
    columns: 1;
    lines: 10;
    fixed-height: true;
    fixed-columns: true;
    cycle: false;
    scrollbar: false;
    spacing: @padding;
    border: 0px solid;
}

element alternate.normal,
element normal.normal {
    padding: @padding;
    background-color: transparent;
    text-color: @white;
}

element selected.normal {
    text-color: @white;
    background-color: #32332f80;
    border: 0 0 0 2px;
    border-color: @cyan;
}

message {
    border: 0px solid;
}
